////////////////ADAPTIVE

@media (max-width: 1266px) {
   .title {
      font-size: 50px;
   }

   .why__items {
      grid-template-columns: 1fr 1fr;
   }

   .top__col1 {
      width: 650px;
   }
   .top__title {
      font-size: 50px;
   }
   .top__text {
      font-size: 28px;
   }
}

@media (max-width: 1000px) {
   .reviews{
      &__text{
         margin-bottom: 100px;
      }
      .swiper-slide{
         .reviews-slide-name{
            font-size: 40px;
            margin-bottom: 15px;
         }
         .reviews-slide-experience{
            font-size: 20px;
            margin-bottom: 12px;
         }
         .reviews-slide-text{
            font-size: 16px;
         }
      }
      
   }
   .team{
      &__img-wrapper{
         display: none;
      }
      &__content{
         max-width: 100%;
      }
      .adaptive__img-wrapper{
         display: block;
      }
      .gallery-btn{
         margin: 30px auto;
      }
      .fill-form{
         margin: 30px auto;
      }
   }
   .about {
      &__inner{
         padding-top: 40px;
      }
      &__wrap {
         display: block;
      }
      &__content{
         width: auto;
      }
      &__img-container{
         width: auto;
         & > img{
            display: block;
            margin: 0 auto;
         }
      }
   }

   .record {
      .title {
         &::after {
            display: none;
         }
      }
   }
   .calc {
      padding-bottom: 150px;
   }
   .top__col1 {
      display: none;
   }
   .top__col1-adaptive {
      display: block;
      align-self: start;
   }
   .top__inner {
      justify-content: center;
   }
   .top {
      padding-top: 150px;
   }
   .top__col2 {
      width: 100%;
      a {
         align-self: end;
      }
   }
   .be-model {
      align-self: end;
   }

   .header__box {
      .header__adress,
      .social,
      .contact-btn {
         display: none;
      }
   }
}

@media (max-width: 766px) {
   .team{
      .title{
         margin-bottom: 10px;
      }
   }
   .calc {
      padding-bottom: 100px;
      .title {
         &::after {
            display: none;
         }
      }
   }
   .calc__wrap {
      padding: 20px 20px;
   }
   .calc__text {
      margin-bottom: 0;
      font-size: 20px;
   }
   .calc__value-title {
      font-size: 24px;
   }
   .calc__value-salary {
      font-size: 30px;
   }
   .calc__button {
      font-size: 18px;
      width: 270px;
      height: 65px;
   }
   .calc__value-item {
      margin-bottom: 28px;
   }
   .calc__value-caption {
      margin-bottom: 12px;
   }

   .why__items {
      display: none;
   }
   .why__items-slider {
      display: block;
   }
   .why {
      .title {
         &::after {
            display: none;
         }
      }
   }

   .footer__inner {
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      .social {
         justify-content: center;
      }
   }
   .footer__adress {
      margin: 0 auto;
      text-align: center;
      br {
         display: none;
      }
   }
   .footer__tel-box {
      text-align: center;
      margin: 0 auto;
   }
   .top {
      padding-top: 120px;
   }

   .top__col1 {
      width: auto;
   }

   .top__title {
      font-size: 36px;
   }
   .top__text {
      font-size: 22px;
   }

   .play-video {
      transform: scale(0.7);
   }
   .be-model {
      transform: scale(0.7);
   }
}

@media (max-width: 476px) {
   .reviews__inner{
      padding-top: 31px;
   }
   .reviews__slider .swiper-slider__wrap{
      padding-left: 38px;
      padding-right: 38px;
      padding-bottom: 40px
   }
   .reviews__text{
      font-size: 16px;
      margin-bottom: 37px;
   }
   .reviews .title{
      margin-bottom: 30px;
   }

   .team__descr{
      font-size: 16px;
   }
   .gallery-btn, .fill-form{
      font-size: 18px;
      height: 60px;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
   }
   .team-adaptive-img-full{
      display: none;
   }
   .team-adaptive-img-small{
      display: block;
   }
   .about__list-item{
      align-items: start;
   }
   .about__content{
      padding-top: 0;
   }
   .about__inner{
      padding-top: 0;
   }
   .about__play-video{
      &::after{
         transform: scale(170%);
      }
   }
   .about__list-item-text{
      font-size: 14px;
   }
   .about__content{
      p{
         font-size: 16px;
      }
   }
   .record__img {
      width: 713px;
      top: auto;
      bottom: 0;
      right: -351px;
      // &::after{
      //    position: absolute;
      //    content: "";
      //    width: 100px;
      //    height: 100px;
      //    top: 0;
      //    left: 0;
      //    background-color: #9d2424;
      //    z-index: 4;
      // }
   }
   .record__img-mask {
      position: absolute;
      width: 713px;
      height: 495px;
      bottom: 0;
      right: -351px;
      background-color: rgba($color: #37167a, $alpha: 0.7);
      z-index: -1;
   }
   .record {
      .rec-label {
         font-size: 12px;
      }
   }

   .title {
      font-size: 42px;
   }
   .record {
      &__tel {
         font-size: 30px;
      }
      &__text {
         font-size: 22px;
      }
      &__adress {
         font-size: 22px;
      }
   }
   .why {
      padding-bottom: 90px;
   }
   .calc {
      padding-top: 40px;
   }
   .calc__set {
      margin-top: 40px;
   }
   .calc__wrap {
      padding-right: 5px;
      padding-left: 5px;
   }
   .calc__set-line-item {
      font-size: 14px;
   }
   .footer__tel-box,
   .footer__adress {
      width: auto;
   }
   .right__list {
      padding-left: 50px;
      padding-right: 50px;
      .contact-btn {
         font-size: 24px;
      }
   }
   .right__item {
      // text-align: center;
   }
   .header__inner {
      height: 70px;
   }
   .top {
      padding-top: 70px;
   }

   .top__title {
      font-size: 24px;
   }
   .top__text {
      font-size: 18px;
   }
   .play-video-wrapper {
      margin-right: -20px;
   }
   .play-video {
      transform: scale(0.6);
   }
   .be-model {
      transform: scale(0.6);
      margin-right: -20px;
   }

   .footer {
      font-size: 15px;
      &__inner {
         gap: 10px;
         min-height: 180px;
      }
      .social-item {
         transform: scale(0.7);
      }
   }
}
