.footer{
   
   background-color: #2E1056;
   &__inner{
      min-height: 200px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .social{
      margin: 0;
      
   }
   &__adress{
      width: 320px;
   }
   &__tel-box{
      width: 320px;
      text-align: right;
      a{
         transition: all 0.3s;
         &:hover{
            // box-shadow: 0 4px 35px 4px #ff00b7;
            filter: drop-shadow(0px 0px 20px #ff00b7);
            color: #ff00b7;
         }
      }
   }
}