.record {
  overflow: hidden;
  padding-bottom: 126px;  
  .title {
    margin-bottom: 88px;
    &::after {
      position: absolute;
      content: "Собеседование";
      font-family: "Montserrat", sans-serif;
      font-size: 1.8em;
      left: 50%;
      top: -0.3em;
      transform: translateX(-50%);
      opacity: 0.05;
      z-index: -1;
      overflow: hidden;
    }
  }
  &__inner {
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
  }
  &__text {
    margin-bottom: 50px;
  }
  &__tel {
    display: inline-block;
    margin-right: 35px;
    font-size: 40px;
    text-shadow: 0px 4px 17px #ff00b7;
    margin-bottom: 50px;
  }
  &__adress {
  }
  &__img {
    position: absolute;
   
    top: 0;
    right: -137px;
    // // left: -50%;
    z-index: -1;
    max-width: none;
    // width: 1750px;

  }
}
.container {
}

.col1 {
  position: relative;
  max-width: 520px;
  font-size: 24px;
  .tel_adress {
    text-align: right;
  }
}
.col2 {
  button {
    background: linear-gradient(180deg, #5300ff 0%, #430db4 100%);
    box-shadow: 0px 4px 50px #3e06b4;
    border-radius: 20px;
    width: 100%;
    height: 61px;
    margin-top: 24px;
    position: relative;
    &::after{
      content: "Отправить";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 20px;
      background-color: #FF00B7;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all 0.5s;
   }
   &:hover::after{
      opacity: 1;
   }
  }
  .rec-checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0)
    
  }
  .rec-checkbox:checked + .rec-checkbox-cast::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 11px;
    background-image: url(../img/record/ok.svg);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
  }

  .rec-label{
    padding-left: 50px;
    a{
      text-decoration: underline;
    }
  }
  .rec-checkbox-cast{
    margin-left: -36px;
    margin-top: 2px;
    position: absolute;
    width: 19px;
    height: 19px;
    border: 1px solid #FF00B7;
    border-radius: 2px;
  }
  .input-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    * {
      flex-grow: 1;
    }
  }
  // flex-grow: 1;
  input,
  textarea {
    background-color: rgba($color: #51167D, $alpha: 0.93);
    // background-color: #51167D;
    border: 1px solid #ff00b7;
    border-radius: 15px;
    margin-bottom: 24px;
    padding: 21px 24px;
    outline: rgba($color: #ff00b7, $alpha: 0);
  }
  input[type="text"]{
    margin-bottom: 0;
  }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus
  {
    background-color: rgba($color: #37167a, $alpha: 0.93);
  }
  input {
    height: 62px;
  }
  textarea {
    width: 100%;
    resize: none;
    &:focus{
      background-color: rgba($color: #37167a, $alpha: 0.93);
    }
  }
  #email {
    width: 100%;
  }
  #accept {
    margin-bottom: 0;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
  }
  label {
    font-size: 16px;
  }
}
