@import "reset.scss";
@import "libs/animations.scss";
@import "libs/fancybox.scss";

// libs

@import "header.scss";
@import "footer.scss";
@import "top.scss";

@import "adaptive.scss";



body {
   font-family: "Montserrat", sans-serif;
   // font-family: "Poiret One", cursive;
   font-size: 20px;
   line-height: 1.2;
   background-color: #37167A;
   color: #fff;
}

a{
   color:#fff;
}

.container{
   max-width: 1440px;
   margin: 0 auto;
   padding-left: 6%;
   padding-right: 6%;
   
}

.flex-body{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}
.main{
   flex-grow: 1;  
}